<style>

.button{
    margin:20px;
    padding: 10px;

}

</style>


<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <link rel="stylesheet" type="text/css" href="<%= url('/main.css') %>" >
    <link rel="stylesheet" type="text/css" href="<%= url('/upload_style.css') %>" >
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<div class="container">

       
    <h4>Notifications for <%=current_user.email%></h4>
    <%@fl.each do |f|%>
        <%if f.accepted == false%>
            <form action="/user/request_accept/<%=f.id%>" method="get" style="display: inline;">
                <%=f.follower_email%> Requested to follow you. <input type="submit" value="Accept" name="request_accept" style="font-size:15px"/>  
            </form> 
            <form action="/user/request_reject/<%=f.id%>" method="get" style="display: inline;">
                <input type="submit" value="Reject" name="request_reject" style="font-size:15px"/>  
            </form> 
            <br>
        <%else%>
            <h5> Accepted <%=f.follower_email%> </h5>
        <%end%>
    <%end%>
 



</div>
